<?php
// module/product/view/product/product/index.phtml:

$title = 'Products';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<table class="table table-hover table-condensed">
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($products as $product) : ?>
<tr>
    <td><?php echo $this->escapeHtml($product->name);?></td>
    <td><?php echo $this->escapeHtml($product->description);?></td>
    <td>
        <a href="<?php echo $this->url('product',
            array('action'=>'edit', 'id' => $product->id));?>" class="btn-success btn">edit</a>
        <a href="<?php echo $this->url('product',
            array('action'=>'delete', 'id' => $product->id));?>" class="btn-danger btn">del</a>
    </td>
</tr>
<?php endforeach; ?>
</table>
<p>
    <a href="<?php echo $this->url('product', array('action'=>'add'));?>" class="btn-primary btn">Add new</a>
</p>
