<?php if (count($this->paginator)): ?>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12 conteudo">
			<div class="dados">
		
				<table class="table table-striped table-bordered" id="dados">
				    <thead>
				        <tr>
							<th class="span1">ID</th>
				           	<th class="span4">Name</th>
							<th class="span4">Download</th>
				        </tr>
				    </thead>
				    <tbody>
                        <?php foreach ($this->paginator as $document): ?>
				        <tr>
				            <td><?php echo $document->getId(); ?></td>
				            <td><?php echo $document->getName(); ?></td>
                            <td>
				                <a href="<?php echo $this->url('download', array(
                                        'action'=>'download', 
                                        'id' => $document->getId(),
                                ));?>" class="btn-success btn">download</a>
                                <a href="<?php echo $this->url('delete', array(
                                        'action'=>'delete', 
                                        'id' => $document->getId(),
                                ));?>" class="btn-danger btn">del</a>
                            </td>
				        </tr>
				        <?php endforeach; ?>
				    </tbody>
				</table>
				
			</div>
		</div>
	</div>
</div>

<a href="<?php echo $this->url('document', array('action'=>'create'));?>" class="btn-primary btn">New</a>
<?php endif; ?>
